<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/waiter.css">


  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <ul>
    <li class="nav"><a href="/waiter">Home</a></li>
  <li class="nav"><a href="/admin">Admin</a></li>
</ul>
  {{{body}}}
</body>

</html>
