<form class="form" action="" method="post">
    <table>
      {{#each data}}
        <tr>
            <th>{{day}}</th>

        </tr>
            <tr>
                <td class="{{status}}">
                    {{#each user}}
                        <ul>{{this}}</ul>
                    {{/each}}
                  </td>

                </tr>
        {{/each}}
    </table>
</form>
