<form class="form" action="" method="post">
    <table>
      <tr>
      {{#each data}}
            <th>{{day}}</th>
        {{/each}}
      </tr>
      <tr>
      {{#each data}}
                <td class="{{status}}">
                    {{#each user}}
                        <ul>{{this}}</ul>
                    {{/each}}
                  </td>

        {{/each}}
      </tr>
    </table><br><br>
    <button type="submit" name="button">Reset weekly Schedule</button>

</form>
