<form class="" action="/waiter/:username" method="post">
  <input type="text" name="user" value="" placeholder="Enter user name." required = "">
  <button type="submit" name="button"></button>
</form>
