<h1 class="head">Waiter's App</h1><br><br><br>

<p>{{messages.error}}</p> 



<p style = "text-align : center; font-size : 200%; color : green" >{{message}}</p>
<form class="day" action="" method="post">
<<<<<<< HEAD
    <input type="checkbox" name="days" value="Sunday" {{#if lookingForMaps.Sunday}}checked{{/if}}>Sunday
    <input type="checkbox" name="days" value="Monday" {{#if lookingForMaps.Monday}}checked{{/if}}>Monday
    <input type="checkbox" name="days" value="Tuesday" {{#if lookingForMaps.Tuesday}}checked{{/if}}>Tuesday
    <input type="checkbox" name="days" value="Wednesday" {{#if lookingForMaps.Wednesday}}checked{{/if}}>Wednesday
    <input type="checkbox" name="days" value="Thursday" {{#if lookingForMaps.Thursday}}checked{{/if}}>Thursday
    <input type="checkbox" name="days" value="Friday" {{#if lookingForMaps.Friday}}checked{{/if}}>Friday
    <input type="checkbox" name="days" value="Saturday" {{#if lookingForMaps.Saturday}}checked{{/if}}>Saturday
=======
    <input type="checkbox" name="days" value="Sunday">Sunday
    <input type="checkbox" name="days" value="Monday">Monday
    <input type="checkbox" name="days" value="Tuesday">Tuesday
    <input type="checkbox" name="days" value="Wednesday">Wednesday
    <input type="checkbox" name="days" value="Thursday">Thursday
    <input type="checkbox" name="days" value="Friday">Friday
    <input type="checkbox" name="days" value="Saturday">Saturday
>>>>>>> 94b9f2fe4bfd86ac405ea8b24d9ece71a158d76e
    <button type="submit" name="button">Submit</button>

  </form>

        <p style = "text-align : center; font-size : 200%; color : green" >{{info}}</p
