<h1 class="head">Waiter's App</h1><br><br><br>

<p>{{messages.error}}</p>



<p style = "text-align : center; font-size : 200%; color : green" >{{message}}</p>
<form class="day" action="" method="post">

    <input type="checkbox" name="days" value="Sunday" {{#if lookingForMaps.Sunday}}checked{{/if}}>Sunday
    <input type="checkbox" name="days" value="Monday" {{#if lookingForMaps.Monday}}checked{{/if}}>Monday
    <input type="checkbox" name="days" value="Tuesday" {{#if lookingForMaps.Tuesday}}checked{{/if}}>Tuesday
    <input type="checkbox" name="days" value="Wednesday" {{#if lookingForMaps.Wednesday}}checked{{/if}}>Wednesday
    <input type="checkbox" name="days" value="Thursday" {{#if lookingForMaps.Thursday}}checked{{/if}}>Thursday
    <input type="checkbox" name="days" value="Friday" {{#if lookingForMaps.Friday}}checked{{/if}}>Friday
    <input type="checkbox" name="days" value="Saturday" {{#if lookingForMaps.Saturday}}checked{{/if}}>Saturday


    <button type="submit" name="button">Submit</button>

  </form>

        <p style = "text-align : center; font-size : 200%; color : green" >{{info}}</p
