<h1 class="head">Waiter's App</h1><br><br><br>

<p>Welcome {{user}}, Please select days in which you are comfortable working.</p>
<form class="day" action="" method="post">
    <input type="checkbox" name="days" value="Sunday">Sunday
    <input type="checkbox" name="days" value="Monday">Monday
    <input type="checkbox" name="days" value="Tuesday">Tuesday
    <input type="checkbox" name="days" value="Wednesday">Wednesday
    <input type="checkbox" name="days" value="Thursday">Thursday
    <input type="checkbox" name="days" value="Friday">Friday
    <input type="checkbox" name="days" value="Saturday">Saturday
    <button type="submit" name="button">Submit</button>

  </form>

        {{#each weeklyDays}}

        <p>
            {{this.days}}

          </p>
        {{/each}}
