.form {

    padding-left: : 20em;
    margin: 100px;
}

h1 {
  padding-left: 34%;
font-size: 80px;
}


table {
    border: 5px solid black;
    border-collapse: collapse;
    width: 950px;
    height: 150px;
}

tr, th {
    border: 5px solid black;
    border-collapse: collapse;
}


.day {
    padding-left: 15em;
    font-size: 128%;

}
body{
  background-image: url("images.jpg");
}

.less{
  background-color: plum;

}
.enough{
  background-color: green;
}
.many{
  background-color: lavender;
}
